
.infoLegend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.infoLegend{
    background-color: rgba(255, 255, 255, 0.8);
    width: 150px;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 0px;
    font-size: medium;
    font-weight: bold;
}

.infoLegend li{
    margin-left:10px;
    list-style-type: none;
}

.infoLegend li ul{
    padding: 0;
}

.legend {
    line-height: 18px;
    color: #555;
}