.infoDiv{
    padding-top: 5px;
}
.infoDiv .weatherTable{
    margin-left: 10px;
}
.infoDiv li{
    list-style-type: none;
    padding: 0%;
}

.infoDiv li ul{
    margin: 10px;
    padding: 0%;
}

.infoDiv h3 {
    margin: 10px;
}

.icon{
    width: 40px;
    height: auto;
}