.leftPanelDiv{ 
    float:left;
    width: 18%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #1e2e4a;
    position: relative;
    
}
.leftPanelDiv .select{
    color:#8B909B;
    background-color:#192642;
    border-color: #192642;
    border-radius: 5px;
    
}
.select .react-dropdown-select-dropdown-position-bottom{
    border-color:#47536A;
    border-radius:5px;
}
.select .react-dropdown-select-item{
    background-color: #192642 !important;
    border-color: #47536A !important;
}
.leftPanelDiv ul{
    padding:0;
    margin:0;
}
.leftPanelDiv ul li{
    list-style-type: none;
    color: white;
}
.leftPanelDiv ul li .datepicker{
    background-color: white;
    color:black;
    width: 100%;
}
.leftPanelDiv ul li .datepicker .react-datepicker-popper{
    z-index: 3 !important;
}
.leftPanelDiv ul li .datepicker .react-datetime-picker__inputGroup, 
.leftPanelDiv ul li .datepicker .react-datetime-picker__clear-button,
.leftPanelDiv ul li .datepicker .react-datetime-picker__calendar-button,
.leftPanelDiv ul li .datepicker .react-datetime-picker__inputGroup__day,
.leftPanelDiv ul li .datepicker .react-datetime-picker__inputGroup__month,
.leftPanelDiv ul li .datepicker .react-datetime-picker__inputGroup__year,
.leftPanelDiv ul li .datepicker .react-datetime-picker__inputGroup__minute,
.leftPanelDiv ul li .datepicker .react-datetime-picker__inputGroup__leadingZero,
.leftPanelDiv ul li .datepicker .react-datetime-picker__inputGroup__divider,
.leftPanelDiv ul li .datepicker .react-datetime-picker__inputGroup__hour{
    color:#8B909B !important;
    background-color:#192642;
}

.leftPanelDiv ul li .datepicker .react-datetime-picker__inputGroup__leadingZero,
.leftPanelDiv ul li .datepicker .react-datetime-picker__inputGroup__input--hasLeadingZero{
    color:#8B909B !important;
}

.leftPanelDiv ul li .datepicker .react-datetime-picker__calendar-button .react-datetime-picker__calendar-button__icon,
.leftPanelDiv ul li .datepicker .react-datetime-picker__clear-button .react-datetime-picker__clear-button__icon{
    stroke:white !important;
}

.react-datetime-picker__calendar {
    z-index: 9999 !important;
}
.separationBetweenLabelComp{
    margin-bottom:10px;
}
.myButton {
    background-color: #00ccbe; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /*margin:auto;
    margin-bottom: 80px;*/
}

.parameters {
    display: inline-table;
    color: white;
}

.p{
    color: white;
}
.hrLeft{
    margin-left:-15px !important;
    margin-right:-15px !important;
}

