.rightPanelDiv{
    float:right;
    width: 18%;
    height: 100%;
    background-color: #1e2e4a;
    color:white;
    -webkit-box-shadow: -9px 0px 16px -4px rgba(0,0,0,0.7);
    -moz-box-shadow: -9px 0px 16px -4px rgba(0,0,0,0.7);
    box-shadow: -9px 0px 16px -4px rgba(0,0,0,0.7);
    overflow:scroll;
    overflow-x:auto;
    overflow-y:auto;
}
.monthTable{
    margin-left: 10px;
}
.hr{
    display: block; height: 1px;
    border: 0; border-top: 1px solid #385079;
    margin: 1em 0; padding: 0; 
}
.calendar.react-calendar{
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;
}
/*.react-calendar__month-view__days__day{
    color:blue;
    background-color: blue !important;
}*/
.myp {
    margin: 10px;
}
.h3 {
    margin: 10px;
}