html, body {
    width: 100%;
    height: 92%;
    margin:0;
}

.mapDiv{
    height: 92%;
    width: 100%;
    margin:0;
    display: flex;
}
.select{
    background-color: white;
}
.myMap {
    height: 100%;
    width: 64%;
    float: left;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
}
.heatmapSwitch{
    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.lastUpdate ul li{
    list-style-type: none;
}